/*Telerik RadCalendar Clear skin*/

body table.RadCalendar_Clear
{
	width:auto;
	background:#f9fafb;
	font:12px "segoe ui",arial,sans-serif;
}

/*titlebar*/

.RadCalendar_Clear .rcTitlebar
{
	border-color:#fcfdfd #f0f2f4 #a1b3b7;
	border-width:0 0 1px;
	background:#e6e9eb 0 -1000px repeat-x url('Calendar/sprite.gif');
}

.RadCalendar_Clear .rcTitlebar table
{
	font:12px/23px "segoe ui",arial,sans-serif;
}

.RadCalendar_Clear .rcTitlebar td
{
	padding:0 0 1px;
}

.RadCalendar_Clear .rcTitlebar .rcPrev,
.RadCalendar_Clear .rcTitlebar .rcNext,
.RadCalendar_Clear .rcTitlebar .rcFastPrev,
.RadCalendar_Clear .rcTitlebar .rcFastNext
{
	background-image:url('Calendar/sprite.gif');
	color:#a1b3b7;
}

.RadCalendar_Clear .rcTitlebar .rcFastPrev
{
	margin-left:6px;
	background-position:0 -200px;
}

.RadCalendar_Clear .rcTitlebar a.rcFastPrev:hover
{
	background-position:0 -250px;
}

.RadCalendar_Clear .rcTitlebar .rcPrev
{
	background-position:0 -300px;
}

.RadCalendar_Clear .rcTitlebar a.rcPrev:hover
{
	background-position:0 -350px;
}

.RadCalendar_Clear .rcTitlebar .rcNext
{
	background-position:0 -400px;
}

.RadCalendar_Clear .rcTitlebar a.rcNext:hover
{
	background-position:0 -450px;
}

.RadCalendar_Clear .rcTitlebar .rcFastNext
{
	margin-right:6px;
	background-position:0 -500px;
}

.RadCalendar_Clear .rcTitlebar a.rcFastNext:hover
{
	background-position:0 -550px;
}

.RadCalendar_Clear .rcMain
{
	border-color:#e2e3ea;
}

.RadCalendar_Clear .rcMainTable
{
	font:12px/17px "segoe ui",arial,sans-serif;
}

/*header, footer*/

.RadCalendar_Clear .rcHeader,
.RadCalendar_Clear .rcFooter
{
	border-color:#e2e3ea;
}

/*week numbers and days*/

.RadCalendar_Clear tr.rcWeek th
{
	border-bottom:1px solid #fff;
	padding:5px 0 3px 0;
	background:#f1f3f5;
	color:#0f232f;
	text-align:center;
}

.RadCalendar_Clear .rcWeek .rcViewSel,
.RadCalendar_Clear .rcRow th
{
	width:28px;
	padding:0;
	background:#f1f3f5;
}

.RadCalendar_Clear .rcRow th
{
	color:#0f232f;
}

/*date cells*/

.RadCalendar_Clear tr.rcRow td
{
	width:25px;
	border:0;
	padding:0 0 1px 1px;
}

.RadCalendar_Clear .rcMain .rcRow a,
.RadCalendar_Clear .rcMain .rcRow span
{
	width:20px;
	padding:0 6px 0 0;
	color:#0f232f;
}

.RadCalendar_Clear .rcMain .rcWeekend a
{
	color:#4f636f;
}

.RadCalendar_Clear .rcRow .rcToday а
{
	background:100% -1800px no-repeat url('Calendar/sprite.gif');
}

.RadCalendar_Clear .rcMain .rcOtherMonth a
{
	color:#97a6ab;
}

.RadCalendar_Clear .rcMain .rcOutOfRange span
{
	color:#97a6ab;
}

.RadCalendar_Clear .rcRow .rcSelected a
{
	background:100% -1700px no-repeat url('Calendar/sprite.gif');
}

.RadCalendar_Clear .rcRow .rcHover a
{
	background:100% -1600px repeat-x url('Calendar/sprite.gif');
}

.RadCalendar_Clear .rcMain .rcRow .rcHover a
{
	color:#fff;
}

/*multimonth view*/

.RadCalendarMultiView_Clear .rcTitlebar
{
	border-color:#f4f5f6 #cfd6d9 #707f89;
	background:#bac4c7 0 -1200px repeat-x url('Calendar/sprite.gif');
	color:#212a25;
}

.RadCalendarMultiView_Clear .rcTitlebar table
{
	line-height:27px;
}

table.RadCalendarMultiView_Clear .rcTitlebar td
{
	padding-top:2px;
}

.RadCalendarMultiView_Clear .rcTitlebar a.rcFastPrev
{
	width:18px;
	background-position:0 -600px;
}
.RadCalendarMultiView_Clear .rcTitlebar a.rcFastPrev:hover
{
	background-position:0 -650px;
}

.RadCalendarMultiView_Clear .rcTitlebar a.rcPrev
{
	background-position:0 -700px;
}
.RadCalendarMultiView_Clear .rcTitlebar a.rcPrev:hover
{
	background-position:0 -750px;
}

.RadCalendarMultiView_Clear .rcTitlebar a.rcNext
{
	background-position:0 -800px;
}
.RadCalendarMultiView_Clear .rcTitlebar a.rcNext:hover
{
	background-position:0 -850px;
}

.RadCalendarMultiView_Clear .rcTitlebar a.rcFastNext
{
	width:18px;
	background-position:0 -900px;
}
.RadCalendarMultiView_Clear .rcTitlebar a.rcFastNext:hover
{
	background-position:0 -950px;
}

table.RadCalendarMultiView_Clear .rcCalendar
{
	width:auto;
	border-color:#e2e3ea;
}

.RadCalendarMultiView_Clear .rcCalendar .rcMainTable
{
	height:176px;
}

table.RadCalendarMultiView_Clear .rcMainTable .rcTitle
{
	border-color:#a1b3b7;
	padding:2px 0 0;
	background:#e6e9eb 0 -1000px repeat-x url('Calendar/sprite.gif');
	line-height:22px;
}

/*month view*/

body table.RadCalendarMonthView_Clear
{
	border-color:#8e9f96;
	background:#fff;
	font:12px "segoe ui",arial,sans-serif;
	color:#0f232f;
}

.RadCalendarMonthView_Clear #rcMView_Feb,
.RadCalendarMonthView_Clear #rcMView_Apr,
.RadCalendarMonthView_Clear #rcMView_Jun,
.RadCalendarMonthView_Clear #rcMView_Aug,
.RadCalendarMonthView_Clear #rcMView_Oct,
.RadCalendarMonthView_Clear #rcMView_Dec
{
	border-right:1px solid #d0d9da;
}

.RadCalendarMonthView_Clear a
{
	color:#0f232f;
}

.RadCalendarMonthView_Clear .rcSelected a
{
	border-color:#73818b #d7dcdf #d7dcdf #94a0a7;
	background:#f0f2f3 0 -2000px repeat-x url('Calendar/sprite.gif');
}

.RadCalendarMonthView_Clear #rcMView_PrevY a,
.RadCalendarMonthView_Clear #rcMView_NextY a
{
	width:13px;
	height:11px;
	background-image:url('Calendar/sprite.gif');
	color:#a1b3b7;
}

.RadCalendarMonthView_Clear #rcMView_PrevY a
{
	background-position:4px -2098px;
}

.RadCalendarMonthView_Clear #rcMView_NextY a
{
	background-position:4px -2198px;
}

.RadCalendarMonthView_Clear .rcButtons
{
	padding:6px 7px 5px;
}

.RadCalendarMonthView_Clear input
{
	border-color:#e6e8ea #a6afb6 #7a8891 #e6e8ea;
	background:#f0f2f4;
	color:#000;
	font:12px "segoe ui",arial,sans-serif;
}

.RadCalendarMonthView_Clear #rcMView_OK
{
	border-color:#f28e8e #b5181a #8f0e10 #e94f4f;
	background:#ed1e1f;
	color:#fff;
}

/*time view*/

body table.RadCalendarTimeView_Clear
{
	border-color:#8e9f96;
	background:#f9fafb;
	font:12px "segoe ui",arial,sans-serif;
}

table.RadCalendarTimeView_Clear th
{
	border-bottom:1px solid #a1b3b7;
	padding:1px 0 0;
	background:#e6e9eb 0 -1000px repeat-x url('Calendar/sprite.gif');
	color:#0f232f;
	line-height:23px;
}

table.RadCalendarTimeView_Clear tr td
{
	border-color:#d0d9da;
}

.RadCalendarTimeView_Clear a
{
	color:#0f232f;
}

.RadCalendarTimeView_Clear td.rcSelected a
{
	/*border:#8d8d8d #7d7d7d #6c6c6c;*/
	background:100% -2550px repeat-x url('Calendar/sprite.gif');
}

.RadCalendarTimeView_Clear td.rcHover a
{
	/*border-color:#c4c4c4 #b2b2b2 #9e9e9e;*/
	background:100% -2500px repeat-x url('Calendar/sprite.gif');
	color:#fff;
}

.RadCalendarTimeView_Clear .rcFooter
{
	border-color:#d0d9da;
}

/*pickers*/

.RadPicker_Clear .rcCalPopup,
.RadPicker_Clear .rcTimePopup
{
	background-image:url('Calendar/sprite.gif');
}

.RadPicker_Clear .rcCalPopup,
.RadPicker_Clear a.rcDisabled.rcCalPopup:hover
{
	background-position:0 0;
}

.RadPicker_Clear a.rcCalPopup:hover,
.RadPicker_Clear a.rcCalPopup:focus,
.RadPicker_Clear a.rcCalPopup:active
{
	background-position:0 -50px;
}

.RadPicker_Clear .rcTimePopup,
.RadPicker_Clear a.rcDisabled.rcTimePopup:hover
{
	background-position:0 -100px;
}

.RadPicker_Clear a.rcTimePopup:hover,
.RadPicker_Clear a.rcTimePopup:focus,
.RadPicker_Clear a.rcTimePopup:active
{
	background-position:0 -150px;
}

/*rtl*/

.RadCalendarRTL_Clear .rcTitlebar .rcFastPrev
{
	background-position:0 -500px;
}

.RadCalendarRTL_Clear .rcTitlebar a.rcFastPrev:hover
{
	background-position:0 -550px;
}

.RadCalendarRTL_Clear .rcTitlebar .rcPrev
{
	background-position:0 -400px;
}

.RadCalendarRTL_Clear .rcTitlebar a.rcPrev:hover
{
	background-position:0 -450px;
}

.RadCalendarRTL_Clear .rcTitlebar .rcNext
{
	background-position:0 -300px;
}

.RadCalendarRTL_Clear .rcTitlebar a.rcNext:hover
{
	background-position:0 -350px;
}

.RadCalendarRTL_Clear .rcTitlebar .rcFastNext
{
	background-position:0 -200px;
}

.RadCalendarRTL_Clear .rcTitlebar a.rcFastNext:hover
{
	background-position:0 -250px;
}

.RadCalendarMultiViewRTL_Clear .rcTitlebar a.rcFastPrev:hover
{
	background-position:0 -950px;
}

.RadCalendarMultiViewRTL_Clear .rcTitlebar a.rcPrev:hover
{
	background-position:0 -850px;
}

.RadCalendarMultiViewRTL_Clear .rcTitlebar a.rcNext:hover
{
	background-position:4px -750px;
}

.RadCalendarMultiViewRTL_Clear .rcTitlebar a.rcFastNext:hover
{
	background-position:0 -650px;
}