/* <RadMenu / Hay> */

.RadMenu_Clear .rmRootGroup,
.RadMenu_Clear a.rmLink,
.RadMenu_Clear .rmText,
.RadMenu_Clear .rmLeftArrow,
.RadMenu_Clear .rmRightArrow,
.RadMenu_Clear .rmTopArrow,
.RadMenu_Clear .rmBottomArrow
{
	background-image: url('Menu/rmSprite.png');
	background-color: transparent;
}

.RadMenu_Clear .rmRootGroup
{
	border-bottom: 1px solid #54626b;
	background-repeat: repeat-x;
	background-position: 0 0;
	background-color: #e6e9eb;
}

.RadMenu_Clear .rmVertical
{
	background-position: 0 -408px;
}

/* <Root items> */

.RadMenu_Clear,
.RadMenu_Clear a.rmLink
{
	font: normal 12px/23px "Segoe UI", Arial, sans-serif;
	color: #0f232f;
	text-decoration: none;
	/*advanced form is under menu*/
	z-index: 2900;
}

.RadMenu_Clear a.rmLink,
.RadMenu_Clear .rmText
{
	background-position: 0 1050px;
	background-repeat: no-repeat;
}

.RadMenu_Clear a.rmLink:hover,
.RadMenu_Clear a.rmFocused,
.RadMenu_Clear a.rmSelected
{
	color: #FFF;
	background-position: 0 -72px;
}

.RadMenu_Clear a.rmLink:hover .rmText,
.RadMenu_Clear a.rmFocused .rmText,
.RadMenu_Clear a.rmSelected .rmText
{
	background-position: 100% -96px;
}

.RadMenu_Clear a.rmExpanded,
.RadMenu_Clear a.rmExpanded:hover
{
	color: #0f232f;
	background-position: 0 -120px;
}

.RadMenu_Clear a.rmExpanded .rmText,
.RadMenu_Clear a.rmExpanded:hover .rmText
{
	background-position: 100% -144px;
}

.RadMenu_Clear a.rmDisabled,
.RadMenu_Clear a.rmDisabled:hover
{
	color: #999;
}

.RadMenu_Clear a.rmDisabled:hover,
.RadMenu_Clear a.rmDisabled:hover .rmText
{
	background: none;
}

/* </Root items> */


/* <Submenu items> */

.RadMenu_Clear .rmGroup,
.RadMenu_Clear .rmMultiColumn,
.RadMenu_Clear .rmGroup .rmVertical
{
	border: 1px solid #929da5;
	background: #fff url('Menu/rmVSprite.png') repeat-y -1px 0;
}

.RadMenu_Clear .rmTopFix,
.RadMenu_Clear .rmBottomFix,
.RadMenu_Clear .rmRoundedCorners .rmGroup .rmItem,
.RadMenu_Clear .rmRoundedCorners li.rmFirstGroupColumn .rmItem,
.RadMenu_Clear .rmRoundedCorners .rmFirstGroupColumn li.rmFirstGroupColumn .rmItem,
.RadMenu_Clear .rmRoundedCorners ul.rmHorizontal .rmFirst,
.RadMenu_Clear_Context.rmRoundedCorners .rmGroup .rmItem,
.RadMenu_Clear_Context.rmRoundedCorners ul.rmHorizontal .rmFirst
{
	background-image: url('Menu/rmVSprite.png');
	background-color: #fff; 
	background-repeat: repeat-y;
	background-position: -3px 0;
}

* html .rmRoundedCorners_Clear .rmGroup .rmItem,
* html .rmRoundedCorners_Clear ul.rmHorizontal .rmFirst
{
	background-image: url('Menu/rmVSprite.png');
	background-color: #fff; 
	background-repeat: repeat-y;
	background-position: -3px 0;
}

.RadMenu_Clear .rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_Clear .rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_Clear .rmRoundedCorners .rmGroupColumn .rmItem,
.RadMenu_Clear .rmRoundedCorners .rmGroupColumn .rmGroupColumn .rmItem,
.RadMenu_Clear .rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_Clear .rmRoundedCorners .rmScrollWrap .rmVertical,
.RadMenu_Clear_Context.rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_Clear_Context.rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_Clear_Context.rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_Clear_Context.rmRoundedCorners .rmScrollWrap .rmVertical
{
	background-image: none;
}

* html .rmRoundedCorners_Clear .rmScrollWrapContainer .rmGroup,
* html .rmRoundedCorners_Clear .rmScrollWrap .rmItem,
* html .rmRoundedCorners_Clear .rmHorizontal .rmItem,
* html .rmRoundedCorners_Clear .rmScrollWrap .rmVertical
{
	background-image: none;
}

.RadMenu_Clear .rmRoundedCorners .rmGroupColumn
{
	background-color: #fff;
}

.RadMenu_Clear .rmBottomLeft,
.RadMenu_Clear .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Clear_Context.rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Clear_Context.rmRoundedCorners ul.rmGroup,
.RadMenu_Clear .rmRoundedCorners ul.rmGroup,
.RadMenu_Clear .rmRoundedCorners .rmMultiColumn
{
	background-image: url('Menu/rmRoundedLeft.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

* html .rmRoundedCorners_Clear .rmScrollWrapContainer,
* html .rmRoundedCorners_Clear .rmGroup ul.rmGroup,
* html .rmRoundedCorners_Clear ul.rmGroup
{
	background-image:  url('Menu/rmRoundedLeft.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadMenu_Clear .rmTopRight,
.RadMenu_Clear .rmBottomRight
{
	background-image: url('Menu/rmRoundedRight.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadMenu_Clear .rmTopFix,
.RadMenu_Clear .rmBottomFix,
.RadMenu_Clear .rmRoundedCorners .rmGroup .rmFirst,
.RadMenu_Clear_Context.rmRoundedCorners .rmGroup .rmFirst,
.rmRoundedCorners_Clear .rmGroup .rmFirst
{
	border-color: #929da5;
}

.RadMenu_Clear .rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_Clear .rmRoundedCorners .rmScrollWrapContainer .rmBottomFix,
.RadMenu_Clear_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_Clear_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomFix
{
	background: #FFF;
}

* html .rmRoundedCorners_Clear .rmScrollWrapContainer .rmTopFix,
* html .rmRoundedCorners_Clear .rmScrollWrapContainer .rmBottomFix
{
	background: #FFF;
}

.RadMenu_Clear .rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_Clear .rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_Clear .rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_Clear .rmRoundedCorners .rmScrollWrapContainer .rmRightArrow,
.RadMenu_Clear_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_Clear_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_Clear_Context.rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_Clear_Context.rmRoundedCorners .rmScrollWrapContainer .rmRightArrow
{
	background-color: #FFF;
	border: 0;
}

* html .rmRoundedCorners_Clear .rmScrollWrapContainer .rmTopArrow,
* html .rmRoundedCorners_Clear .rmScrollWrapContainer .rmBottomArrow,
* html .rmRoundedCorners_Clear .rmScrollWrapContainer .rmLeftArrow,
* html .rmRoundedCorners_Clear .rmScrollWrapContainer .rmRightArrow
{
	background-color: #FFF;
	border: 0;
}

.RadMenu_Clear li.rmTopFix,
.RadMenu_Clear li.rmBottomFix
{
	background-position: -4px 0;
}

.RadMenu_Clear_rtl .rmBottomLeft,
.RadMenu_Clear_rtl .rmRoundedCorners ul.rmGroup,
.RadMenu_Clear_rtl .rmRoundedCorners .rmMultiColumn,
.RadMenu_Clear .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Clear .rmScrollWrapContainer .rmBottomLeft,
.rmRoundedCorners.RadMenu_Clear_Context_rtl ul.rmGroup,
.RadMenu_Clear_Context.rmRoundedCorners .rmScrollWrapContainer
{
	background-image: url('Menu/rmRoundedLeft_rtl.png');
}

.RadMenu_Clear_rtl .rmTopRight,
.RadMenu_Clear_rtl .rmBottomRight
{
	background-image: url('Menu/rmRoundedRight_rtl.png');
}

.RadMenu_Clear_rtl li.rmTopFix,
.RadMenu_Clear_rtl li.rmBottomFix,
.RadMenu_Clear_rtl .rmRoundedCorners .rmGroup .rmItem,
.rmRoundedCorners.RadMenu_Clear_Context_rtl .rmGroup .rmItem
{
	background-position: 101% 0;
}

.RadMenu_Clear .rmSlide .rmScrollWrap
{
	background-image: none;
}

.RadMenu_Clear_rtl .rmGroup,
.RadMenu_Clear_rtl .rmMultiColumn,
.RadMenu_Clear_rtl .rmGroup .rmVertical
{
	background-position: 101% 0;
}

.RadMenu_Clear .rmRootGroup .rmHorizontal
{
	background-image: none;
}

.RadMenu_Clear .rmScrollWrap .rmVertical
{
	border: 0;
}

.RadMenu_Clear .rmGroup .rmFirst,
.RadMenu_Clear .rmGroup .rmLast,
.RadMenu_Clear .rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.RadMenu_Clear_Context.rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.rmRoundedCorners_Clear .rmScrollWrapContainer li.rmItem
{
	background: none;
}

.RadMenu_Clear .rmRootGroup li.rmItem .rmGroup
{
	padding-bottom: 0;
}

.RadMenu_Clear .rmGroup li.rmLast
{
	padding-bottom: 1px;
}

.RadMenu_Clear .rmGroup a.rmLink:hover,
.RadMenu_Clear .rmGroup a.rmFocused,
.RadMenu_Clear .rmGroup a.rmSelected,
.RadMenu_Clear .rmGroup a.rmExpanded
{
	background-position: 0 -168px;
}

.RadMenu_Clear .rmGroup a.rmLink:hover .rmText,
.RadMenu_Clear .rmGroup a.rmFocused .rmText,
.RadMenu_Clear .rmGroup a.rmSelected .rmText,
.RadMenu_Clear .rmGroup a.rmExpanded .rmText
{
	background-position: 100% -192px;
}

.RadMenu_Clear .rmGroup a.rmExpanded,
.RadMenu_Clear .rmGroup a.rmExpanded:hover
{
	color: #FFF;
}

.RadMenu_Clear .rmGroup a.rmDisabled,
.RadMenu_Clear .rmGroup a.rmDisabled:hover
{
	color: #999;
}

/* <expand arrows> */

.RadMenu_Clear .rmGroup .rmExpandRight,
.RadMenu_Clear .rmGroup .rmExpandDown
{
	background-position: 100% -216px;
}

.RadMenu_Clear .rmGroup a.rmLink:hover .rmExpandRight,
.RadMenu_Clear .rmGroup a.rmFocused .rmExpandRight,
.RadMenu_Clear .rmGroup a.rmSelected .rmExpandRight,
.RadMenu_Clear .rmGroup a.rmExpanded .rmExpandRight,
.RadMenu_Clear .rmGroup a.rmLink:hover .rmExpandDown,
.RadMenu_Clear .rmGroup a.rmFocused .rmExpandDown,
.RadMenu_Clear .rmGroup a.rmSelected .rmExpandDown,
.RadMenu_Clear .rmGroup a.rmExpanded .rmExpandDown
{
	background-position: 100% -240px;
}

.RadMenu_Clear .rmGroup a.rmDisabled:hover .rmExpandRight,
.RadMenu_Clear .rmGroup a.rmDisabled:hover .rmExpandDown
{
	background-image: url('Menu/rmSprite.png');
	background-position: 100% -216px;
}

/* </expand arrows> */

/* <rtl> */

.RadMenu_Clear_rtl .rmGroup a.rmLink:hover,
.RadMenu_Clear_rtl .rmGroup a.rmFocused,
.RadMenu_Clear_rtl .rmGroup a.rmSelected,
.RadMenu_Clear_rtl .rmGroup a.rmExpanded
{
	background-position: 100% -264px;
}

.RadMenu_Clear_rtl .rmGroup a.rmLink:hover .rmText,
.RadMenu_Clear_rtl .rmGroup a.rmFocused .rmText,
.RadMenu_Clear_rtl .rmGroup a.rmSelected .rmText,
.RadMenu_Clear_rtl .rmGroup a.rmExpanded .rmText
{
	background-position: 0 -288px;
}

.RadMenu_Clear_rtl .rmGroup .rmExpandLeft
{
	background-position: 0 -312px;
}

.RadMenu_Clear_rtl .rmGroup a.rmLink:hover .rmExpandLeft,
.RadMenu_Clear_rtl .rmGroup a.rmFocused .rmExpandLeft,
.RadMenu_Clear_rtl .rmGroup a.rmSelected .rmExpandLeft,
.RadMenu_Clear_rtl .rmGroup a.rmExpanded .rmExpandLeft
{
	background-position: 0 -336px;
}

/* </rtl> */

/* </Submenu items> */

/* <Submenu offsets (Hay - specific, overlapping submenus)> */

.RadMenu_Clear .rmSlide
{
	margin: -3px 0 0 1px;
}

.RadMenu_Clear .rmVertical .rmSlide,
.RadMenu_Clear .rmSlide .rmSlide,
.RadMenu_Clear_Context .rmGroup .rmSlide
{
	margin: 0 0 0 -5px;
}

.RadMenu_Clear_rtl .rmSlide
{
	margin: -3px 0 0 -1px;
}

.RadMenu_Clear_rtl .rmVertical .rmSlide,
.RadMenu_Clear_rtl .rmSlide .rmSlide,
.RadMenu_Clear_Context_rtl .rmGroup .rmSlide
{
	margin: 0 0 0 5px;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_Clear .rmLeftArrow,
.RadMenu_Clear .rmRightArrow
{
	background-color: #FFF;
}

.RadMenu_Clear .rmLeftArrow { background-position: -8px -312px; border-right: 1px solid #b2bdc5; }
.RadMenu_Clear .rmRightArrow { background-position: -482px -216px; border-left: 1px solid #b2bdc5; }

.RadMenu_Clear .rmTopArrow,
.RadMenu_Clear .rmBottomArrow,
.RadMenu_Clear .rmGroup .rmLeftArrow,
.RadMenu_Clear .rmGroup .rmRightArrow
{
	background-color: #FFF;
}

.RadMenu_Clear .rmTopArrow { background-position: 50% -367px; border-bottom: 1px solid #b2bdc5; }
.RadMenu_Clear .rmBottomArrow { background-position: 50% -391px; border-top: 1px solid #b2bdc5; }

/* </Scrolling arrows> */

/* <Separators> */

.RadMenu_Clear .rmVertical .rmSeparator .rmText,
.RadMenu_Clear .rmHorizontal .rmVertical .rmSeparator .rmText
{
	background-position: 0 -406px;
}

.RadMenu_Clear .rmHorizontal .rmSeparator .rmText,
.RadMenu_Clear .rmVertical .rmHorizontal .rmSeparator .rmText
{
	background-position: 0 -386px;
}

/* </Separators> */

/* </RadMenu / Hay> */
