/* RadScheduler Clear skin */

/* common */
.RadScheduler_Clear,
.RadScheduler_Clear a,
.RadScheduler_Clear input,
.RadScheduler_Clear select,
.RadScheduler_Clear textarea
{
	color: #0f232f;
	font: normal 12px/14px "Segoe UI", Arial, sans-serif;
}

/* header */

/* header sprites */
.RadScheduler_Clear .rsHeader,
.RadScheduler_Clear .rsHeader ul a:hover,
.RadScheduler_Clear .rsHeader ul a:hover span,
.RadScheduler_Clear .rsHeader .rsSelected,
.RadScheduler_Clear .rsHeader .rsSelected em,
.RadScheduler_Clear .rsHeader .rsDatePickerActivator,
.RadScheduler_Clear .rsHeader .rsPrevDay,
.RadScheduler_Clear .rsHeader .rsNextDay
{
	background-image: url('Scheduler/rsSprites.png');
}

* html .RadScheduler_Clear .rsHeader,
* html .RadScheduler_Clear .rsHeader ul a:hover,
* html .RadScheduler_Clear .rsHeader ul a:hover span,
* html .RadScheduler_Clear .rsHeader .rsSelected,
* html .RadScheduler_Clear .rsHeader .rsSelected em,
* html .RadScheduler_Clear .rsHeader .rsDatePickerActivator,
* html .RadScheduler_Clear .rsHeader .rsPrevDay,
* html .RadScheduler_Clear .rsHeader .rsNextDay
{
	background-image: url('Scheduler/rsSpritesIE6.png');
}

.RadScheduler_Clear .rsHeader
{
	border: 1px solid #757777;
    border-bottom-color: #707f89;
}

.RadScheduler div.rsHeader p 
{
    padding-left: 3px;
}

.RadScheduler_Clear .rsHeader,
.RadScheduler_Clear .rsHeader a,
.RadScheduler_Clear .rsHeader em
{
	color: #0f232f;
}

.RadScheduler_Clear .rsHeader a:hover
{
	color: #FFF;
}

.RadScheduler_Clear .rsHeader a.rsToday:hover
{
	color: #2f434f;
}

.RadScheduler .rsHeader a.rsDatePickerActivator
{
	margin: 2px 0 0 2px;
}

.RadScheduler_Clear div.rsHeader .rsPrevDay
{
	width: 18px;
	height: 21px;
	margin: 4px 0 0 3px;
    background-position: 0 -47px;
}

.RadScheduler_Clear div.rsHeader .rsNextDay
{
	width: 18px;
	height: 21px;
	margin: 4px 6px 0 0;
	background-position: -18px -47px;
}

.RadScheduler_Clear div.rsHeader a.rsPrevDay:hover
{
	background-position: -70px -47px;
}

.RadScheduler_Clear div.rsHeader a.rsNextDay:hover
{
	background-position: -88px -47px;
}

.RadScheduler_Clear div.rsHeader .rsSelected
{
    background-position: 0 -97px;
}

.RadScheduler_Clear div.rsHeader .rsSelected em
{
    background-position: 100% -97px;
}

/* content */

.RadScheduler_Clear .rsContent
{
	background: #fff;
}

/* <headers> */

.RadScheduler_Clear .rsHorizontalHeaderTable
{
	color: #0f232f;
	background: #e6e9eb;
}

.RadScheduler_Clear .rsHorizontalHeaderWrapper
{
	border-color: #a1b3b7;
	background: #f1f3f5;
}

.RadScheduler_Clear .rsSpacerCell,
.RadScheduler_Clear .rsAllDayHeader,
.RadScheduler_Clear .rsVerticalHeaderWrapper,
.RadScheduler_Clear .rsVerticalHeaderTable
{
	background: #f1f3f5;
}

.RadScheduler_Clear .rsVerticalHeaderTable th
{
	color: #0f232f;
}

.RadScheduler_Clear .rsVerticalHeaderTable .rsAmPm
{
    color: #97a3a9;
}

.RadScheduler_Clear .rsHorizontalHeaderTable th
{
	border-color: #a1b3b7;
	background-color: #e6e9eb;
	background-image: url('Scheduler/rsSprites.png');
}

* html .RadScheduler_Clear .rsHorizontalHeaderTable th
{
	background-image: url('Scheduler/rsSpritesIE6.png');
}

.RadScheduler_Clear .rsVerticalHeaderTable th
{
	border-color: transparent #e2e3ea;
	border-top: 0;
}

.RadScheduler_Clear .rsVerticalHeaderTable .rsAlt th
{
	border-color: #c2c9ce #e2e3ea;
}

/* </headers> */

/* <all-day-row> */

.RadScheduler_Clear .rsAllDayRow
{
	background: #f1f3f5;
}

.RadScheduler_Clear .rsSpacerCell,
.RadScheduler_Clear .rsAllDayHeader,
.RadScheduler_Clear .rsVerticalHeaderTable .rsAllDayHeader
{
	color: #0f232f;
	border-color: #e2e3ea;
}

.RadScheduler_Clear .rsAllDayRow td,
.RadScheduler_Clear .rsContentTable .rsAllDayRow td
{
	border-color: #c2c9ce;
	border-style: solid;
}

.RadScheduler_Clear .rsVerticalHeaderTable .rsMainHeader th
{
	border-bottom-color: #c2c9ce;
}

.RadScheduler_Clear .rsSpacerCell,
.RadScheduler_Clear .rsContent .rsAllDayHeader
{
	border-bottom-color: #c2c9ce;
}

/* </all-day-row> */

.RadScheduler_Clear .rsContent,
.RadScheduler_Clear .rsTopWrap .rsFooter
{
	border: 1px solid #828282;
	border-top: 0;
}

.RadScheduler_Clear div.rsContent
{
	border-bottom: 0;
}

.RadScheduler_Clear .rsContentTable td
{
	border-color: #d8dde1;
}

.RadScheduler_Clear table.rsContentTable td
{
	border-bottom-style: dotted;
}

.RadScheduler_Clear .rsContentTable .rsAlt td
{
	border-color: #c2c9ce #e2e3ea;
	border-bottom-style: solid;
}

.RadScheduler_Clear .rsMonthView .rsOtherMonth
{
	background-color: #f5f5f5;
}

/* <appointments> */
.RadScheduler_Clear .rsApt .rsArrowTop,
.RadScheduler_Clear .rsApt .rsArrowBottom,
.RadScheduler_Clear .rsApt .rsArrowLeft,
.RadScheduler_Clear .rsApt .rsArrowRight,
.RadScheduler_Clear .rsApt .rsAptDelete,
.RadScheduler_Clear .rsApt .rsAptResize,
.RadScheduler_Clear .rsApt .rsAptRecurrence,
.RadScheduler_Clear .rsApt .rsAptRecurrenceException
{
	background-color: transparent;
	background-image: url('Scheduler/rsSprites.png');
	background-repeat: no-repeat;
}

* html .RadScheduler_Clear .rsApt .rsArrowTop,
* html .RadScheduler_Clear .rsApt .rsArrowBottom,
* html .RadScheduler_Clear .rsApt .rsArrowLeft,
* html .RadScheduler_Clear .rsApt .rsArrowRight,
* html .RadScheduler_Clear .rsApt .rsAptDelete,
* html .RadScheduler_Clear .rsApt .rsAptResize,
* html .RadScheduler_Clear .rsApt .rsAptRecurrence,
* html .RadScheduler_Clear .rsApt .rsAptRecurrenceException
{
	background-image: url('Scheduler/rsSpritesIE6.png');
}

.RadScheduler_Clear .rsAptCreate,
.RadScheduler_Clear .rsMonthView .rsAptCreate
{
	background-color: #DB070A;
	background-image: url('Scheduler/rsSprites.png');
	background-repeat: repeat-x;
}

.RadScheduler_Clear .rsAptCreateRow2,
.RadScheduler_Clear .rsMonthView .rsAptCreateRow2
{
	background-color: #DB070A;
	background-image: url('Scheduler/rsSprites.png');
	background-repeat: repeat-x;
}

* html .RadScheduler_Clear .rsAptCreate,
* html .RadScheduler_Clear .rsMonthView .rsAptCreate
{
	background-image: url('Scheduler/rsSpritesIE6.png');
}

* html .RadScheduler_Clear .rsAptCreateRow2,
* html .RadScheduler_Clear .rsMonthView .rsAptCreateRow2
{
	background-image: url('Scheduler/rsSpritesIE6.png');
}

.RadScheduler_Clear .rsNonWorkHour,
.RadScheduler_Clear .rsSunCol,
.RadScheduler_Clear .rsSatCol
{
	background-color: #f7f5f0;
}

.RadScheduler_Clear .rsAptCreateRow3,
.RadScheduler_Clear .rsMonthView .rsAptCreateRow3,
.RadScheduler_Clear .rsAptCreateRow4,
.RadScheduler_Clear .rsMonthView .rsAptCreateRow4,
.RadScheduler_Clear .rsAptCreateRow5,
.RadScheduler_Clear .rsMonthView .rsAptCreateRow5
{
	background: #DB070A;
}

.RadScheduler_Clear .rsSelectedSlot,
.RadScheduler_Clear .rsMonthView .rsSelectedSlot
{
    background: #dee2e5
}

.RadScheduler_Clear .rsContentTable td.rsAptCreate
{
	border-color: #A00;
}

.RadScheduler_Clear .rsContentTable td.rsAptCreate.rsSelectedSlot
{
    background: #F66;
    border-color: #E44;
}

.RadScheduler_Clear .rsContentTable td.rsSelectedSlot
{
    background: #dee2e5;
    border-color: #bec2c5;
}

/* <New appointment imageless rendering */
.RadScheduler_Clear .rsAptIn,
.RadScheduler_Clear .rsAptMid,
.RadScheduler_Clear .rsAptContent
{
    background-color: #f9fafb;
    border-color: #74828b;
}

.RadScheduler_Clear .rsAptMid
{
    border-top-color: #acafb6;
}

.RadScheduler_Clear .rsAptIn,
.RadScheduler_Clear .rsAptContent
{
    border-top-color: #cccfd6;
    border-left-color: #cccfd6;
}

.RadScheduler_Clear .rsAptContent
{
    background-image: url('Scheduler/rsAppointmentBg.png');
    background-color: #E6E9EB;
}
/* </New appointment imageless rendering> */

.RadScheduler_Clear .rsAptSimple
{
	background-color: #f9fafb;
	border-color: #74828b;
}

/* </appointments> */

/* <footer> */

.RadScheduler_Clear div.rsFooter
{
	background-color: #eff1f2;
}

.RadScheduler_Clear div.rsFooter .rsFullTime
{
	color: #0f232f;
	padding: 3px 0 4px 17px;
    background: transparent url('Scheduler/rsSprites.png') no-repeat 0 -248px;
}

* html .RadScheduler_Clear div.rsFooter .rsFullTime
{
    background-image: url('Scheduler/rsSpritesIE6.png');
}

.RadScheduler_Clear div.rsFooter a.rsFullTime:hover
{
    background-position: 0 -271px;
}

/* </footer> */

/* <inline edit form> */

.RadScheduler_Clear .rsAptEditResizeHandle,
.RadScheduler_Clear .rsAptEditFormWrapper
{
	background-image: url('Scheduler/rsSprites.png');
}

.RadScheduler_Clear .rsAptEditFormOuter, /* top */
.RadScheduler_Clear .rsAptEditFormInner  /* bottom */
{
	background-image: url('Scheduler/rsInlineEditHSprite.png');
}

.RadScheduler_Clear .rsAptEditFormMiddle, /* left */
.RadScheduler_Clear .rsAptEditFormMiddle2 /* right */
{
	background-image: url('Scheduler/rsInlineEditVSprite.png');
}

* html .RadScheduler_Clear .rsAptEditResizeHandle,
* html .RadScheduler_Clear .rsAptEditFormWrapper
{
	background-image: url('Scheduler/rsSpritesIE6.png');
}

* html .RadScheduler_Clear .rsAptEditFormOuter,
* html .RadScheduler_Clear .rsAptEditFormInner
{
	background-image: url('Scheduler/rsInlineEditHSpriteIE6.png');
}

* html .RadScheduler_Clear .rsAptEditFormMiddle,
* html .RadScheduler_Clear .rsAptEditFormMiddle2
{
	background-image: url('Scheduler/rsInlineEditVSpriteIE6.png');
}

.RadScheduler_Clear .rsAptEditFormWrapper .rsAptEditTextareaWrapper
{
	border-color: #8e9f96;
	background: #fff;
}

.RadScheduler_Clear .rsAptEditFormWrapper .rsAptEditTextareaWrapper textarea
{
	background: #fff;
}

/* <inline edit form template and edit background> */

.RadScheduler_Clear .rsAptEditFormWrapper .rsTemplateWrapper,
.RadScheduler_Clear .rsAptEditFormWrapper .rsEditOptions
{
	background: #E9EBED;
}

.RadScheduler_Clear .rsAptEditFormWrapper .rsTemplateWrapper td
{
    border: 0;
}

/* </inline edit form template and edit background> */

/* </inline edit form> */

/* <advanced edit form> */

.RadScheduler_Clear .rsAdvancedEdit .rsAdvContentWrapper
{
	background: #FFF;
}

.RadScheduler_Clear .rsAdvancedModal .rsAdvContentWrapper
{
	background: none;
}

.RadScheduler_Clear div.rsAdvancedModal .rsAdvButtonWrapper
{
    padding: 10px 10px 18px 0;
}

* html .RadScheduler_Clear div.rsAdvancedModal .rsAdvButtonWrapper
{
    padding: 10px 10px 10px 0;
}

* html .RadScheduler_Clear div.rsAdvancedModal .rsAdvContentWrapper
{
	background: #FFF;
}

* html .RadScheduler_Clear .rsAdvancedModal
{
    padding-left: 8px;
    padding-right: 8px;
}

/* <xref input skins> */

.RadScheduler_Clear .rsAdvancedEdit .rsAdvInput,
.RadScheduler_Clear .rsAdvancedEdit select,
.RadScheduler_Clear .rsAdvancedEdit .textareaWrapper
{
	border-color: #bbb99d;
}

.RadScheduler_Clear .rsAdvancedEdit .rsInvalid textarea,
.RadScheduler_Clear .rsAdvancedEdit .rsInvalid input,
.RadScheduler_Clear .rsAdvancedEdit .rsAdvTimePicker .riEmpty
{
	background-image: url('Input/sprite.gif');
}

.RadScheduler_Clear .rsAdvancedEdit .textareaWrapper,
.RadScheduler_Clear .rsAdvancedEdit .textareaWrapper textarea
{
	background: #fff;
}

.RadScheduler_Clear .rsAdvancedEdit .rsInvalid
{
	border-color: #e92600;
	color: #e92600;
}

/* </xref input skins> */

.RadScheduler_Clear .rsAdvancedEdit h2,
.RadScheduler_Clear .rsAdvancedEdit h3
{
	color: #279500;
}

.RadScheduler_Clear .rsAdvancedEdit h2
{
	border-bottom: 1px solid #bbb99d;
}

.RadScheduler_Clear .rsAdvancedEdit h2 span
{
	background: #ececd8;
}

.RadScheduler_Clear .rsAdvancedEdit .rsAdvancedSubmitArea
{
	border-color: #bbb99d;
}

/* </advanced edit form> */

/* <date/time picker> */

.RadScheduler_Clear .rsTimePick .RadInput_Clear input.riEnabled,
.RadScheduler_Clear .rsTimePick .RadInput_Clear input.riHover,
.RadScheduler_Clear .rsTimePick .RadInput_Clear input.riFocused
{
	background-image: url('Scheduler/rsSprites.png');
}

* html .RadScheduler_Clear .rsTimePick .RadInput_Clear input.riEnabled,
* html .RadScheduler_Clear .rsTimePick .RadInput_Clear input.riHover,
* html .RadScheduler_Clear .rsTimePick .RadInput_Clear input.riFocused
{
	background-image: url('Scheduler/rsSpritesIE6.png');
}

/* </date/time picker> */

/* <modal dialogs> */

.RadScheduler_Clear .rsModalBgTopLeft,
.RadScheduler_Clear .rsModalBgTopRight,
.RadScheduler_Clear .rsModalBgBottomLeft,
.RadScheduler_Clear .rsModalBgBottomRight
{
    background-image: url('Scheduler/rsModalBg.png');
}

div.RadScheduler_Clear .rsAnimating
{
    background-image: url('Scheduler/rsModalBgIE6.png');
}

* html .RadScheduler_Clear .rsModalBgTopLeft,
* html .RadScheduler_Clear .rsModalBgTopRight,
* html .RadScheduler_Clear .rsModalBgBottomLeft,
* html .RadScheduler_Clear .rsModalBgBottomRight
{
    background-image: url('Scheduler/rsModalBgIE6.png');
}

.RadScheduler_Clear .rsAdvancedEdit .rsAdvTitle,
.RadScheduler_Clear .rsAdvancedEdit .rsAdvInnerTitle
{
    background: #FFF;
}

.RadScheduler_Clear .rsApt .rsAptDelete,
.RadScheduler_Clear .rsAdvancedEdit a.rsAdvEditClose,
.RadScheduler_Clear div.rsModalWrapper .rsModalWindowClose
{
	background-image: url('Scheduler/rsSprites.png');
    background-position: -44px -344px;
	margin-top: -18px;
    right: 8px;
	width: 10px;
	height: 10px;
}

* html .RadScheduler_Clear .rsAdvancedEdit a.rsAdvEditClose,
* html .RadScheduler_Clear div.rsModalWrapper .rsModalWindowClose
{
	background-image: url('Scheduler/rsSpritesIE6.png');
}


.RadScheduler_Clear .rsAdvancedEdit a.rsAdvEditClose
{
	margin-top: -20px;
    right: 6px;
}

.RadScheduler_Clear .rsApt .rsAptDelete
{
	width: 12px;
	height: 12px;
    right: 2px;
    margin-top: 1px;
}

.RadScheduler_Clear .rsApt .rsAptDelete:hover,
.RadScheduler_Clear .rsAdvancedEdit a.rsAdvEditClose:hover,
.RadScheduler_Clear .rsModalWrapper a.rsModalWindowClose:hover
{
    background-position: -64px -344px;
}

.RadScheduler_Clear .rsModalWrapper .rsModalTitle
{
	color: #0f232f;
	background-image: url('Scheduler/rsSprites.png');
}

* html .RadScheduler_Clear .rsModalWrapper .rsModalTitle
{
	background-image: url('Scheduler/rsSpritesIE6.png');
}

.RadScheduler_Clear .rsModalWrapper .rsModalInner
{
    border-color: #FFF;
}

.RadScheduler_Clear .rsModalWrapper div.rsModalIcon
{
    height: 30px;
	background-image: url('Scheduler/rsSprites.png');
}

* html .RadScheduler_Clear .rsModalWrapper div.rsModalIcon
{
	background-image: url('Scheduler/rsSpritesIE6.png');
}

/* Inline Edit buttons + ModalDialog buttons */
.RadScheduler_Clear .rsModalWrapper .rsModalButtons a,
.RadScheduler_Clear .rsAdvancedEdit div.rsAdvancedSubmitArea a,
.RadScheduler_Clear .rsTopWrap .rsAptEditFormWrapper .rsEditOptions a
{
	color: #0f232f;
	background-image: url('Scheduler/rsSprites.png');
}

* html .RadScheduler_Clear .rsModalWrapper .rsModalButtons a,
* html .RadScheduler_Clear .rsAdvancedEdit div.rsAdvancedSubmitArea a,
* html .RadScheduler_Clear .rsTopWrap .rsAptEditFormWrapper .rsEditOptions a
{
	background-image: url('Scheduler/rsSpritesIE6.png');
}

.RadScheduler_Clear .rsModalWrapper .rsModalButtons a:hover,
.RadScheduler_Clear .rsAdvancedEdit div.rsAdvancedSubmitArea a:hover,
.RadScheduler_Clear .rsTopWrap .rsAptEditFormWrapper .rsEditOptions a:hover
{
	color: #FFF;
}

/* </modal dialogs> */

.RadScheduler_Clear .rsBottomIndicator .rsOvertimeArrow
{
	background: transparent url('Scheduler/rsSprites.png') no-repeat -180px -31px;
}        	

.RadScheduler_Clear .rsTopIndicator .rsOvertimeArrow
{
	background: transparent url('Scheduler/rsSprites.png') no-repeat -134px -31px;
}

* html .RadScheduler_Clear .rsBottomIndicator .rsOvertimeArrow
{
	background-image: url('Scheduler/rsSprites.png');
}

* html .RadScheduler_Clear .rsTopIndicator .rsOvertimeArrow
{
	background-image: url('Scheduler/rsSprites.png');
}
