.RadSiteMap_Clear .rsmLink,
.RadSiteMap_Clear .rsmTemplate
{
	font-family: "Segoe UI", Arial, sans-serif;
	border-bottom: 1px solid #dadee0;
    background: transparent url('SiteMap/rsmLevelBorder.png') repeat-x 0 100%;
    color: #0f232f;
}
* html .RadSiteMap_Clear .rsmLink,
* html .RadSiteMap_Clear .rsmTemplate { background-position: 0 97%; }
*+html .RadSiteMap_Clear .rsmLink,
*+html .RadSiteMap_Clear .rsmTemplate { background-position: 0 97%; }

.RadSiteMap_Clear .rsmLevel1 .rsmLink,
.RadSiteMap_Clear .rsmLevel1 .rsmTemplate,
.RadSiteMap_Clear .rsmLevel2 .rsmLink,
.RadSiteMap_Clear .rsmLevel2 .rsmTemplate,
.RadSiteMap_Clear .rsmThreeLevels .rsmLevel1 .rsmLink,
.RadSiteMap_Clear .rsmTwoLevels .rsmLevel1 .rsmLink,
.RadSiteMap_Clear .rsmOneLevel .rsmItem .rsmLink
{
	color: #0f232f;
    background: none;
}

.RadSiteMap_Clear .rsmLink:hover,
.RadSiteMap_Clear .rsmLevel1 .rsmLink:hover
{
	color: #2f436f;
}

.RadSiteMap_Clear .rsmLevel2 .rsmLink:hover,
.RadSiteMap_Clear .rsmThreeLevels .rsmLevel1 .rsmLink:hover,
.RadSiteMap_Clear .rsmTwoLevels .rsmLevel1 .rsmLink:hover,
.RadSiteMap_Clear .rsmOneLevel .rsmItem .rsmLink:hover
{
	color: #FFF;
	background: #d80406 url('SiteMap/rsmHover.png') repeat-x 0 0;
}

.RadSiteMap_Clear .rsmLevel .rsmNodeLines .rsmItem
{
	background-image: url('SiteMap/NodeLines.png');
}
