/* <RadToolBar / Clear> */

/* <tool wrapper> */

/* <horizontal> */

.RadToolBar_Clear .rtbOuter {
    border: 1px solid #f4f5f6;
    border-color: #f4f5f6 #707f89 #707f89 #f4f5f6;
}

.RadToolBar_Clear .rtbMiddle {
    border: 0;
    background: #72725f url('ToolBar/rtbControlBg.png') repeat-x 0 0;
}

/* </horizontal> */

/* <vertical> */

.RadToolBar_Clear_Vertical .rtbMiddle {
    background: #9c9c8b url('ToolBar/rtbVerticalControlBg.png') repeat-y 0 0;
}

/* </vertical> */

/* </tool wrapper> */

/* <buttons> */

div.RadToolBar_Clear .rtbItem {
    padding: 3px 1px 1px;
}

.RadToolBar_Clear img.rtbIcon {
    margin-top: 2px;
    padding: 2px 2px 0;
}

div.RadToolBar_Clear .rtbOut {
    position: relative;
    right: -3px;
    top: -3px;
}

div.RadToolBar_Clear .rtbMid {
    bottom: -3px;
    position: relative;
}

div.RadToolBar_Clear .rtbIn {
    margin-left: -3px;
    margin-top: -3px;
    padding: 0 0 0 3px;
}

div.RadToolBar_Clear .rtbText {
    display: inline-block;
    margin: 4px 0 -2px;
}

.RadToolBar_Clear .rtbWrap,
.RadToolBar_Clear .rtbTemplate {
    color: #0f232f;
    font: normal 12px/20px "Segoe UI", Arial, sans-serif;
}

.RadToolBar_Clear span.rtbChoiceArrow {
    height: 18px;
    margin-top: 4px;
}

/* <button states> */

.RadToolBar_Clear .rtbItemHovered .rtbWrap, .RadToolBar_Clear .rtbItemHovered .rtbOut, .RadToolBar_Clear .rtbItemHovered .rtbMid, .RadToolBar_Clear .rtbItemHovered .rtbIn {
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url('ToolBar/rtbHoverBg.png');
}

.RadToolBar_Clear .rtbSplBtnExpanded .rtbWrap, .RadToolBar_Clear .rtbSplBtnExpanded .rtbOut, .RadToolBar_Clear .rtbSplBtnExpanded .rtbMid, .RadToolBar_Clear .rtbSplBtnExpanded .rtbIn,
.RadToolBar_Clear .rtbDropDownExpanded .rtbWrap, .RadToolBar_Clear .rtbDropDownExpanded .rtbOut, .RadToolBar_Clear .rtbDropDownExpanded .rtbMid, .RadToolBar_Clear .rtbDropDownExpanded .rtbIn,
.RadToolBar_Clear .rtbChecked .rtbWrap, .RadToolBar_Clear .rtbChecked .rtbOut, .RadToolBar_Clear .rtbChecked .rtbMid, .RadToolBar_Clear .rtbChecked .rtbIn,
.RadToolBar_Clear li.rtbChecked .rtbWrap:hover, .RadToolBar_Clear li.rtbChecked .rtbWrap:hover .rtbOut, .RadToolBar_Clear li.rtbChecked .rtbWrap:hover .rtbMid, .RadToolBar_Clear li.rtbChecked .rtbWrap:hover .rtbIn
.RadToolBar_Clear .rtbItemClicked .rtbWrap, .RadToolBar_Clear .rtbItemClicked .rtbOut, .RadToolBar_Clear .rtbItemClicked .rtbMid, .RadToolBar_Clear .rtbItemClicked .rtbIn,
.RadToolBar_Clear .rtbSplBtnFocused .rtbWrap, .RadToolBar_Clear .rtbSplBtnFocused .rtbOut, .RadToolBar_Clear .rtbSplBtnFocused .rtbMid, .RadToolBar_Clear .rtbSplBtnFocused .rtbIn,
.RadToolBar_Clear .rtbItemFocused .rtbWrap, .RadToolBar_Clear .rtbItemFocused .rtbOut, .RadToolBar_Clear .rtbItemFocused .rtbMid, .RadToolBar_Clear .rtbItemFocused .rtbIn {
    background-image: url('ToolBar/rtbActiveBg.png');
    background-color: transparent;
    background-repeat: no-repeat;
}

.RadToolBar_Clear .rtbItemHovered .rtbWrap {
    color: #FFF;
}

.RadToolBar_Clear .rtbItemFocused .rtbWrap,
.RadToolBar_Clear .rtbChecked .rtbWrap,
.RadToolBar_Clear .rtbDropDownExpanded .rtbWrap,
.RadToolBar_Clear .rtbSplBtnExpanded .rtbWrap,
.RadToolBar_Clear .rtbItemClicked .rtbWrap {
    color: #0f232f;
}

/* </button states> */

/* <Drop Down Arrows> */


.RadToolBar_Clear .rtbSplBtnHovered .rtbVOriented .rtbChoiceArrow,
.RadToolBar_Clear .rtbSplBtnHovered .rtbChoiceArrow,
.RadToolBar_Clear .rtbItemHovered .rtbVOriented .rtbChoiceArrow,
.RadToolBar_Clear .rtbItemHovered .rtbChoiceArrow {
    background-color: transparent;
    background-image: url('ToolBar/rtbHoverDropArrows.png');
    background-repeat: no-repeat;
}

.RadToolBar_Clear .rtbSplBtnHovered .rtbExpandUp .rtbChoiceArrow,
.RadToolBar_Clear .rtbItemHovered .rtbExpandUp .rtbChoiceArrow {
    background-image: url('ToolBar/rtbHoverUpArrows.png');
}

.RadToolBar_Clear .rtbSplBtn .rtbChoiceArrow,
.RadToolBar_Clear .rtbItem .rtbVOriented .rtbChoiceArrow,
.RadToolBar_Clear .rtbChoiceArrow,
.RadToolBar_Clear .rtbSplBtnExpanded .rtbVOriented .rtbChoiceArrow,
.RadToolBar_Clear .rtbSplBtnExpanded .rtbChoiceArrow,
.RadToolBar_Clear .rtbDropDownExpanded .rtbVOriented .rtbChoiceArrow,
.RadToolBar_Clear .rtbDropDownExpanded .rtbChoiceArrow,
.RadToolBar_Clear .rtbSplBtnClicked .rtbVOriented .rtbChoiceArrow,
.RadToolBar_Clear .rtbSplBtnClicked .rtbChoiceArrow,
.RadToolBar_Clear .rtbItemClicked .rtbVOriented .rtbChoiceArrow,
.RadToolBar_Clear .rtbItemClicked .rtbChoiceArrow {
    background-image: url('ToolBar/rtbDropArrows.png');
}

.RadToolBar_Clear .rtbExpandUp .rtbChoiceArrow,
.RadToolBar_Clear .rtbExpandUp .rtbVOriented .rtbChoiceArrow,
.RadToolBar_Clear .rtbSplBtnExpanded .rtbExpandUp .rtbChoiceArrow,
.RadToolBar_Clear .rtbDropDownExpanded .rtbExpandUp .rtbChoiceArrow,
.RadToolBar_Clear .rtbSplBtnClicked .rtbExpandUp .rtbChoiceArrow,
.RadToolBar_Clear .rtbItemClicked .rtbExpandUp .rtbChoiceArrow {
    background-image: url('ToolBar/rtbUpArrows.png');
}

/* </Drop Down Arrows> */

.RadToolBar_Clear_Horizontal li.rtbSeparator {
    border-left: 1px solid #47473b;
    background: #a1a193;
}

.RadToolBar_Clear_Vertical li.rtbSeparator {
    border-top: 1px solid #47473b;
    background: #a1a193;
}

/* </buttons> */


/* <disabled states> */

.RadToolBar_Clear .rtbDisabled .rtbWrap:hover,
.RadToolBar_Clear .rtbDisabled .rtbWrap:hover .rtbOut,
.RadToolBar_Clear .rtbDisabled .rtbWrap:hover .rtbMid,
.RadToolBar_Clear .rtbDisabled .rtbWrap:hover .rtbIn {
    background-image: none;
}

.RadToolBar_Clear .rtbDisabled .rtbWrap {
    color: #C3C3B9\9;
}

@media screen and (-webkit-min-device-pixel-ratio:0) /* WebKit alpha + opacity/cleartype bug, like IE wasn't enough... */
{
    .RadToolBar_Clear .rtbDisabled .rtbWrap {
        color: #C3C3B9;
    }
}

/* </disabled states */

/* <drop-down> */

/* <Drop Down rounded corners and shadows> */

.RadToolBarDropDown_Clear .rtbTopFix,
.RadToolBarDropDown_Clear .rtbBottomFix,
.RadToolBarDropDown_Clear .rtbGroup {
    background-image: url('ToolBar/rtbDropDownBg.png');
    background-color: #F9FAFB;
    background-repeat: repeat-y;
    background-position: -1px 0;
}

.RadToolBarDropDown_Clear div.rtbTopFix,
.RadToolBarDropDown_Clear div.rtbBottomFix {
    background-position: -2px 1px;
    background-repeat: no-repeat
}

.RadToolBarDropDown_Clear .rtbBottomLeft,
.RadToolBarDropDown_Clear .rtbRoundedCorners {
    background-image: url('ToolBar/rtbRoundedLeft.png');
    background-color: transparent;
    background-repeat: no-repeat;
}

.RadToolBarDropDown_Clear .rtbTopRight,
.RadToolBarDropDown_Clear .rtbBottomRight {
    background-image: url('ToolBar/rtbRoundedRight.png');
    background-color: transparent;
    background-repeat: no-repeat;
}

.RadToolBarDropDown_Clear .rtbTopFix,
.RadToolBarDropDown_Clear .rtbBottomFix,
.RadToolBarDropDown_Clear .rtbRoundedCorners .rtbFirst {
    border-color: #959485;
}

.RadToolBarDropDown_Clear_rtl .rtbBottomLeft,
.RadToolBarDropDown_Clear_rtl .rtbRoundedCorners {
    background-image: url('ToolBar/rtbRoundedLeft_rtl.png');
}

.RadToolBarDropDown_Clear_rtl .rtbTopRight,
.RadToolBarDropDown_Clear_rtl .rtbBottomRight {
    background-image: url('ToolBar/rtbRoundedRight_rtl.png');
}

.RadToolBarDropDown_Clear_rtl .rtbGroup {
    background-position: 101% 0;
}

.RadToolBarDropDown_Clear_rtl div.rtbTopFix,
.RadToolBarDropDown_Clear_rtl div.rtbBottomFix {
    background-position: 101% 1px;
}

/* </Drop Down rounded corners and shadows> */

.RadToolBarDropDown_Clear {
    border-color: #959485;
    background-color: #F9FAFB;
    background-image: url('ToolBar/rtbDropDownBg.png');
}

div.RadToolBarDropDown_Clear {
    background-position: -1px 0;
}

div.RadToolBarDropDown_Clear_rtl {
    background-position: 101% 1px;
}

.RadToolBarDropDown_Clear img.rtbIcon {
    top: 4px;
}

.RadToolBarDropDown_Clear li.rtbItem {
    padding: 0 0 0 4px;
}

.RadToolBarDropDown_Clear a.rtbWrap {
    padding: 0 0 0 28px;
    height: 20px;
}

.RadToolBarDropDown_Clear span.rtbText {
    padding: 1px 30px 0 3px;
}

.RadToolBarDropDown_Clear a.rtbWrap,
.RadToolBarDropDown_Clear span.rtbTemplate {
    color: #272722;
    font-weight: normal;
    line-height: 21px;
    font-size: 12px;
    font-family: "Segoe UI", Arial, sans-serif;
}

    .RadToolBarDropDown_Clear a.rtbWrap img {
        margin-top: 1px;
    }

.RadToolBarDropDown_Clear .rtbItemHovered,
.RadToolBarDropDown_Clear .rtbItemFocused {
    color: #FFF;
    background-image: url('ToolBar/rtbDropDownHover.png');
}

    .RadToolBarDropDown_Clear .rtbItemHovered .rtbWrap {
        color: #FFF;
        background-image: url('ToolBar/rtbDropDownHover.png') !important;
        background-position-y: 21px;
        background-color: #EF2021;
        border-radius: 3px 3px;
    }

.RadToolBarDropDown_Clear .rtbDisabled .rtbWrap {
    color: #8a8a8a;
}

.RadToolBarDropDown_Clear .rtbSeparator {
    border-color: #cac8ab;
    background: #fff;
}

/* </drop-down> */

/* </RadToolBar / Clear> */
